.carousel-container {
    height: 100%;
    width: 100%;
    z-index: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #carouselExampleAutoplaying {
    height: 100vh;
    width: 100vw;
  }