<nav
  class="navbar navbar-expand-lg navbar-dark bg-transparent shadow p-3 mb-5 bg-transparent rounded"
>
  <div class="container-fluid">
    <a class="navbar-brand" class="btn btn-dark" routerLink=''>TOUR KERALA</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarText"
      aria-controls="navbarText"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse " id="navbarText">
      <div class="dis">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a class="nav-link" routerLink="/districts">District</a>
        </li>
      </ul>
      </div>
      <span class="nav-item sp-nav"
        ><a routerLink="/login" class="btn btn-dark" role="button"
          >Login</a
        >
        <a routerLink="/signup" class="btn btn-dark" role="button">Sign Up</a>
      </span>
    </div>
  </div>
</nav>