<div class="auth-container">
    <div class="main-mask">
      <div class="container log-container">
        <div class="log-containerl"></div>
        <div class="log-containerr">
          <h2 class="pb-5">Login</h2>
          <form action="">
            <div class="form-floating mb-2">
              <input
                [(ngModel)]="userName"
                type="text"
                class="form-control"
                name="username"
                id="username"
                placeholder="Enter the Username"
              />
              <label for="username">Enter the Username</label>
            </div>
  
            <div class="form-floating mb-2">
              <input
                [(ngModel)]="userPassword"
                type="password"
                class="form-control"
                name="password"
                id="password"
                placeholder="Enter your password"
              />
              <label for="password">Enter your Password</label>
            </div>
            <div class="d-grid gap-2 log-btn-container">
              <a href="">Forgot password?</a>
              <input
                type="submit"
                class="btn btn-warning"
                (click)="submitOnClick()"
              />
              <a routerLink="/signup" class="btn btn-outline-dark">Sign Up</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>